/* src/Dashboard.css */
.dashboard {
  text-align: center;
  padding: 50px;
  background-color: #f4f4f9;
}

.greet {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
.title {
  font-size: 30px;
  color: #333;
  margin: 30px;
}

.body {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.quizzes {
  display: flex;
  justify-content: space-between;
}
  
.quiz_card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons {
  flex-direction: row;
}
